<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCase.FormTemplate_Testcases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedConcatenate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedQRCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedChildEntityTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedFormula</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentDivision</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedQRReader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedAuthorizedSignature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedPayButtons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentHorizontalLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedAutoIncrementNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedCurrency</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedEntity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedAggregateFunction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedDataTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedStarRating</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedAudio</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedPaymentVariable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvancedQuestion</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestCase.FormTemplate_Testcases_Node1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsSelect</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsFixedTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsDateTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsSingleline</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsTimerange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsDateRange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsMultiline</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsDateTimeRange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsWeekDays</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsMultipleSelect</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestCase.FormTemplate_Testcases_Node2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsRadio</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsCheckbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsCaptcha</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentActionButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsDocument</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsCheckBoxGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentParagraph</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsYesORNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsRadioGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsSignature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentHeading</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentHTML</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentSingleLineContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicFieldsPhone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ContentVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
